version: "3.8"

services:
  mongodb:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: examplepassword
    networks:
      - appnet

  backend:
    build:
      context: ./backend
    image: saiganesh021/crud-dd-backend:latest
    restart: unless-stopped
    depends_on:
      - mongodb
    environment:
      PORT: 3000
      MONGO_URL: mongodb://admin:examplepassword@mongodb:27017/mean-crud?authSource=admin
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
    image: saiganesh021/crud-dd-frontend:latest
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - appnet

  nginx:
    image: nginx:alpine
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    networks:
      - appnet

volumes:
  mongo-data:

networks:
  appnet:




